<div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-info">
                <h4 class="card-title">Agregar Proveedor</h4>
                <p class="card-category">Ingrese un nuevo proveedor</p>
              </div>
              <div class="card-body">
                <form (ngSubmit)="btnAgregarProveedor()">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">Nombre proveedor</label>
                        <input type="text" class="form-control" [(ngModel)]="nombre" name="in_nombre_proveedor" required>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">Direccion proveedor</label>
                        <input type="text" class="form-control" [(ngModel)]="direccion" name="in_direccion_proveedor" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                        <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Descripcion proveedor</label>
                            <input type="text" class="form-control" [(ngModel)]="descripcion" name="in_descripcion_proveedor" required>
                        </div>
                    </div>
                  </div>
                  <div class="pull-right">
                      <button type="submit" class="btn btn-primary">
                          Agregar Proveedor
                        </button>
                    <button class="btn btn-primary" (click)="btnCancelar()">Cancelar</button>
                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
