<div class="row">
  <div class="col-md-7">
              <div class="card" id="tabla-pedidos">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Pedidos de la mesa {{ mesaEscogida }}</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <tr>
                          <th>
                            Plato
                          </th>
                          <th>
                            Estado
                          </th>
                          <th>
                            <!-- Editar -->
                          </th>
                          <th>
                            <!-- Eliminar -->
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let pedido of pedidos">
                          <td>
                            {{ pedido.nombre_plato }}
                          </td>
                          <td>
                            <span *ngIf="pedido.estado === 'PENDIENTE'" class="badge badge-primary text-center" style="padding: 8px">
                              <strong> {{pedido.estado}} </strong>
                            </span>
                            <span *ngIf="pedido.estado === 'EN PREPARACION'" class="badge badge-info text-center" style="padding: 8px">
                              <strong> {{pedido.estado}} </strong>
                            </span>
                            <span *ngIf="pedido.estado === 'PREPARADO'" class="badge badge-danger text-center" style="padding: 8px">
                              <strong> {{pedido.estado}} </strong>
                            </span>
                            <span *ngIf="pedido.estado === 'ENTREGADO'" class="badge badge-success text-center" style="padding: 8px">
                                <strong> {{pedido.estado}} </strong>
                            </span>
                            </td>
                            <td class="td-actions text-right">
                              <button (click)="btnEditar(pedido.idpedido)" class="btn  btn-round btn-just-icon btn-primary" [disabled]="pedido.estado !== 'PENDIENTE'" rel="tooltip" data-original-title="Editar pedido">
                                <i class="material-icons">create</i>
                              </button>
                            </td>
                            <td class="td-actions text-right">
                              <button (click)="btnEliminar(pedido.idpedido)" class="btn btn-round btn-just-icon btn-danger" [disabled]="pedido.estado !== 'PENDIENTE'" rel="tooltip" data-original-title="Eliminar pedido">
                                <i class="material-icons">delete</i>
                              </button>
                            </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
  </div>

  <div class="col-md-5">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Mesas</h4>
        <p class="card-category">Escoja una mesa para ver sus pedidos</p>
      </div>              
      <div class="card-body">
        <div class="row">
          <div *ngFor="let mesa of mesas" class="col-xs-12 col-md-4">
            <button (click)="btnCambioNumeroMesa(mesa.numMesa)" class="btn btn-light btn-round">
              M{{mesa.numMesa}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>                
              