<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title pull-left">Lista de platos</h4>
        <button (click)="btnAgregar()" class="btn btn-white btn-round pull-right" style="padding:10px">
          Agregar nuevo Plato
          <i class="material-icons">add</i>
        </button>
    </div>
    <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class="text-primary">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre del plato</th>
            <th scope="col">Precio</th>
            <th scope="col">Fecha</th>
            <th scope="col" >Insumos</th>
            <th scope="col" >Estado</th>
            <th scope="col" ></th>
            <th scope="col" ></th>
          </tr>
        </thead>
      <tbody>
        <tr *ngFor="let plato of platos; index as i">          
          <td>
            {{i+1}}
          </td>
          <td>
            {{plato.nombre_plato}}
          </td>
          <td>
            {{plato.precio}}
          </td>
          <td >
            {{plato.created_at}}
          </td>           
          <td>
             <button  class="btn btn-warning btn-round btn-just-icon" (click)="btnListarInsumos(plato.idplato)">
              <i class="material-icons">view_list</i>
              </button>
          </td> 
          <td *ngIf="plato.esta_activo == 1">
             <button  class="btn btn-success btn-round btn-just-icon" (click)="btnDeshabilitar(plato.idplato)">
            <i  class="material-icons">toggle_on</i>
            </button >
          </td>
          <td *ngIf="plato.esta_activo == 0">
            <button  class="btn btn-danger btn-round btn-just-icon" (click)="btnHabilitar(plato.idplato)">
            <i  class="material-icons">toggle_off</i>
            </button >            
          </td>
           <td>
              <button  class="btn btn-success btn-round btn-just-icon" (click)="btnEditar(plato.idplato)">
              <i class="material-icons">create</i>
              </button>
            
          </td>
          <td>
            <button  class="btn btn-danger btn-round btn-just-icon" (click)="btnEliminar(plato.idplato)">
            <i class="material-icons">delete</i>
          </button>
        </td>
      </tr>

    </tbody>
    </table>

    </div>
    </div>
  </div>
</div>




